@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
    background: url("bigstock-Old-grunge-brick-wall-backgrou-44341411.jpg");
}

.main {
    background: #ccc;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
    border-radius: 4px;
}

.badge {
    background: #e66357;
    width: 96px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: -15px;
    left: 40%; 
}

.clock {
    background: #EBEBEB;
    height: 100%;
    text-align: center;
    font-size: 55px;
    padding-top: 25px;
    font-family: Orbitron;
    border-radius: 4px;


}

